.result {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

footer {
  color: #FFFFFF;
  margin-top: 50px;
  padding: 30px;
}

footer > a {
  color: #FF5;
}

.modal {
  overflow-y: visible;
}
